// COLORS

$color-dark-grey: #4f4f4f;
$color-dark-grey-2: #333333;
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #F8F4F4;
$color-light-grey-3: #f2f2f2;
$color-light-grey-4: #e6dcd3;


$color-red-1: #FB3E44;
$color-red-2: #FB3B49;
$color-red-3: #ed1c24;
$color-pink: #f9ced1;
$color-light-yellow-1: #ffebae;
