* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins'; }

#global-container {
  width: 95%;
  margin: 0 auto;
  font-family: 'Poppins'; }

.hr-1 {
  border: none;
  height: 1px;
  background-color: rgba(160, 160, 160, 0.3); }

.hr-2 {
  position: relative;
  z-index: 1;
  border: none;
  height: 1px;
  background-color: rgba(160, 160, 160, 0.3); }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  font-size: 14px;
  margin: 0 10px; }
  .nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav-bar ul > li {
      padding: 0 10px; }
  .nav-bar a {
    text-decoration: none;
    color: black; 
    font-weight: 500; } /* Editei aqui */
  .nar-bar__logo-box { /* Editei aqui */
    font-weight: 400;
  }
  .nav-bar__logo-box img {
    height: 10px;
    width: 20px;
    margin: 0 20px 0 10px; }

.search-bar {
  margin: 0 10px;
  display: flex;
  height: 42px;
  align-items: center;
  align-content: space-between; }
  .search-bar form {
    flex-grow: 1;
    position: relative; }
  .search-bar button {
    border: none;
    outline: none;
    background-color: #FB3E44;
    color: white;
    padding: 5px 12px;
    font-family: inherit; }
  .search-bar .container {
    display: flex;
    align-items: center;
    width: 100%; }
    .search-bar .container input {
      border: none;
      outline: none;
      padding: 5px 0;
      padding-left: 40px;
      flex-grow: 1;
      background-color: #F2F2F2;
      font-family: inherit;
      font-size: 13px; }
    .search-bar .container > img {
      width: 50px;
      height: 15px;
      margin: 0 10px; }
  .search-bar form {
    display: flex; }
    .search-bar form > img {
      width: 15px;
      height: 15px;
      top: 50%;
      left: 20px;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1; }
  .search-bar__login {
    display: flex;
    align-items: center;
    margin-left: 30px; }
    .search-bar__login a {
      color: black;
      text-decoration: none;
      padding: 2px 16px;
      margin-right: -6px;
      font-size: 14px;
      margin-left: 5px; }
    .search-bar__login--joinBtn {
      border: 1px solid rgba(60, 60, 60, 0.6);
      border-radius: 2px; }

.intro {
  position: relative;
  background-color: #F2F2F2;
  height: 600px; }
  .intro-shadowBox {
    position: absolute;
    height: 10px;
    background-image: linear-gradient(to bottom, rgba(180, 180, 180, 0.3), #F2F2F2);
    left: 50%;
    width: 100%;
    transform: translateX(-50%); }
  .intro-header {
    width: 100%;
    text-align: center;
    font-size: 58px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .intro-article {
    width: 440px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }